<a href="https://colab.research.google.com/github/tylerchi1000/Satander-Customer-Transaction/blob/Test/Satander_Customer_Transaction_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [ ]:
train = pd.read_csv('/train.csv')
test = pd.read_csv('/test.csv')

In [ ]:
train.shape

(200000, 202)

In [ ]:
train.head()

   ID_code  target    var_0   var_1  ...  var_196  var_197  var_198  var_199
0  train_0       0   8.9255 -6.7863  ...   7.8784   8.5635  12.7803  -1.0914
1  train_1       0  11.5006 -4.1473  ...   8.1267   8.7889  18.3560   1.9518
2  train_2       0   8.6093 -2.7457  ...  -6.5213   8.2675  14.7222   0.3965
3  train_3       0  11.0604 -2.1518  ...  -2.9275  10.2922  17.9697  -8.9996
4  train_4       0   9.8369 -1.4834  ...   3.9267   9.5031  17.9974  -8.8104

[5 rows x 202 columns]

In [ ]:
train['target'].value_counts()

0    179902
1     20098
Name: target, dtype: int64

In [ ]:
train_features = train.drop(['target', 'ID_code'], axis=1)
train_targets = train['target']
test_features = test.drop(['ID_code'], axis=1)

In [ ]:

X_train, X_test, y_train, y_test = train_test_split(train_features, train_targets, test_size = 0.20, random_state = 42)

In [ ]:
from tensorflow import keras
from keras import models
from keras import layers
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.wrappers.scikit_learn import KerasClassifier
from keras import regularizers
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

In [ ]:
X_train.head()

          var_0   var_1    var_2   var_3  ...  var_196  var_197  var_198  var_199
153248  12.3039 -8.3899   9.1944  8.0649  ...  -2.3412   8.1712  12.9046  -1.9309
67802   15.4069  2.7820   9.2951  7.1997  ...   6.5523   8.4698  22.0454   1.4756
148889   9.6427 -4.6261   6.9610  5.4054  ...   0.5692   9.3290  12.8980  -9.4318
103093   9.6881 -5.6696  11.2709  8.2812  ...   7.4442   9.2145  18.2777  -2.5865
104681   7.1128 -2.0830  11.4807  8.3033  ...   6.4975   8.3110  13.7728  -5.9028

[5 rows x 200 columns]

In [ ]:
min_max_scaler = MinMaxScaler()
X_train[X_train.columns] = min_max_scaler.fit_transform(X_train[X_train.columns])

In [ ]:
X_test[X_test.columns] = min_max_scaler.transform(X_test[X_test.columns])

In [ ]:
test_features[train_features.columns] = min_max_scaler.transform(test_features[test_features.columns])

In [ ]:
X_train.head()

           var_0     var_1     var_2  ...   var_197   var_198   var_199
153248  0.596666  0.261741  0.428019  ...  0.356740  0.325091  0.556163
67802   0.752892  0.701230  0.434109  ...  0.406901  0.793360  0.607476
148889  0.462683  0.409804  0.292948  ...  0.551236  0.324753  0.443175
103093  0.464969  0.368754  0.553601  ...  0.532002  0.600346  0.546288
104681  0.335310  0.509847  0.566290  ...  0.380224  0.369567  0.496334

[5 rows x 200 columns]

In [ ]:
#Large Number of Unkown Features. Investigated PCA to see if feature space could
#be reduced.

'''
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import recall_scorerfc = RandomForestClassifier()
rfc.fit(X_train_scaled, y_train)
display(rfc.score(X_train_scaled, y_train))
'''

In [ ]:
#The linear line shows that there isn't a good way to break down the variables
#into principle components. It appears some transformation may have already been
#applied
'''

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCApca_test = PCA(n_components=50)
pca_test.fit(X_train_scaled)sns.set(style='whitegrid')
plt.plot(np.cumsum(pca_test.explained_variance_ratio_))
plt.xlabel('number of components')
plt.ylabel('cumulative explained variance')
plt.axvline(linewidth=4, color='r', linestyle = '--', x=10, ymin=0, ymax=1)
display(plt.show())evr = pca_test.explained_variance_ratio_
cvr = np.cumsum(pca_test.explained_variance_ratio_)pca_df = pd.DataFrame()
pca_df['Cumulative Variance Ratio'] = cvr
pca_df['Explained Variance Ratio'] = evr
display(pca_df.head(10))
'''

Below is a tensorflow model

In [ ]:
METRICS = [
      #keras.metrics.TruePositives(name='tp'),
      #keras.metrics.FalsePositives(name='fp'),
      #keras.metrics.TrueNegatives(name='tn'),
      #keras.metrics.FalseNegatives(name='fn'), 
      keras.metrics.BinaryAccuracy(name='accuracy'),
      keras.metrics.Precision(name='precision'),
      #keras.metrics.Recall(name='recall'),
      keras.metrics.AUC(name='auc'),
      #keras.metrics.AUC(name='prc', curve='PR'), # precision-recall curve
]

In [ ]:
def create_base_nn(metrics, input_size):

  model = Sequential()
  model.add(Dense(100, activation='relu', input_dim=input_size))
  model.add(Dropout(rate=0.2))
  model.add(Dense(100, activation = 'relu'))
  model.add(Dropout(rate=0.2))
  model.add(Dense(1, activation = 'sigmoid'))

  model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=3e-4),
              loss=tf.keras.losses.BinaryCrossentropy(),
              metrics = metrics)
  
  #model.compile(loss = 'binary_crossentropy', 
  #              optimizer = 'adam', 
  #              metrics = ['accuracy'])
  return model

In [ ]:
model2 = create_base_nn(metrics = METRICS, input_size=200)

In [ ]:
model2.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 200)               40200

 dense_1 (Dense)             (None, 100)               20100

 dropout (Dropout)           (None, 100)               0

 dense_2 (Dense)             (None, 1)                 101

=================================================================
Total params: 60,401
Trainable params: 60,401
Non-trainable params: 0
_________________________________________________________________

In [ ]:
result = model2.fit(X_train, y_train, batch_size = 100, epochs = 10, validation_data=(X_test, y_test))

Epoch 1/10
1600/1600 [==============================] - 13s 7ms/step - loss: 0.2735 - accuracy: 0.9051 - precision: 0.7168 - auc: 0.7776 - val_loss: 0.2592 - val_accuracy: 0.9043 - val_precision: 0.8281 - val_auc: 0.8539
Epoch 2/10
1600/1600 [==============================] - 10s 6ms/step - loss: 0.2385 - accuracy: 0.9127 - precision: 0.6765 - auc: 0.8480 - val_loss: 0.2500 - val_accuracy: 0.9071 - val_precision: 0.8124 - val_auc: 0.8585
Epoch 3/10
1600/1600 [==============================] - 11s 7ms/step - loss: 0.2359 - accuracy: 0.9126 - precision: 0.6614 - auc: 0.8526 - val_loss: 0.2383 - val_accuracy: 0.9121 - val_precision: 0.7528 - val_auc: 0.8594
Epoch 4/10
1600/1600 [==============================] - 7s 4ms/step - loss: 0.2349 - accuracy: 0.9138 - precision: 0.6722 - auc: 0.8539 - val_loss: 0.2361 - val_accuracy: 0.9125 - val_precision: 0.6547 - val_auc: 0.8598
Epoch 5/10
1600/1600 [==============================] - 6s 4ms/step - loss: 0.2348 - accuracy: 0.9135 - precision: 0.6657 - auc: 0.8541 - val_loss: 0.2353 - val_accuracy: 0.9132 - val_precision: 0.7218 - val_auc: 0.8600
Epoch 6/10
1600/1600 [==============================] - 6s 4ms/step - loss: 0.2343 - accuracy: 0.9136 - precision: 0.6682 - auc: 0.8548 - val_loss: 0.2350 - val_accuracy: 0.9126 - val_precision: 0.6553 - val_auc: 0.8599
Epoch 7/10
1600/1600 [==============================] - 6s 4ms/step - loss: 0.2342 - accuracy: 0.9137 - precision: 0.6698 - auc: 0.8547 - val_loss: 0.2382 - val_accuracy: 0.9117 - val_precision: 0.6267 - val_auc: 0.8596
Epoch 8/10
1600/1600 [==============================] - 6s 4ms/step - loss: 0.2343 - accuracy: 0.9139 - precision: 0.6714 - auc: 0.8546 - val_loss: 0.2372 - val_accuracy: 0.9121 - val_precision: 0.7544 - val_auc: 0.8599
Epoch 9/10
1600/1600 [==============================] - 6s 4ms/step - loss: 0.2340 - accuracy: 0.9136 - precision: 0.6697 - auc: 0.8551 - val_loss: 0.2349 - val_accuracy: 0.9130 - val_precision: 0.7209 - val_auc: 0.8600
Epoch 10/10
1600/1600 [==============================] - 7s 4ms/step - loss: 0.2339 - accuracy: 0.9139 - precision: 0.6755 - auc: 0.8551 - val_loss: 0.2432 - val_accuracy: 0.9086 - val_precision: 0.5787 - val_auc: 0.8601

In [ ]:
from sklearn.metrics import roc_auc_score
y_pred = model2.predict(X_test)
roc_auc_score(y_test, y_pred)

0.8601320867060298

In [ ]:
sample = pd.read_csv('/content/sample_submission.csv')

In [ ]:
test_features.shape

(200000, 200)

In [ ]:
id_code_test = test['ID_code']
pred = model2.predict(test_features)
pred_ = pred[:,0]
pred_

array([0.23863569, 0.41215286, 0.06348121, ..., 0.00694194, 0.08110669,
       0.21699587], dtype=float32)

In [ ]:
submission = pd.DataFrame({'ID_code': id_code_test, 'target' : pred_})

In [ ]:
from google.colab import files

submission.to_csv('output.csv', encoding = 'utf-8-sig', index=False) 
files.download('output.csv')

In [ ]:
sample = pd.read_csv('/content/sample_submission.csv')

In [ ]:
# Some feature Enginering Ideas from Aladdin Persson https://www.youtube.com/watch?v=MOnk75_8b9M&list=PLhhyoLH6IjfxkVb3Yx4mjLdwMWP5S_Hct&index=5
'''As investigated above in PCA there is no corrleation among the features. There appears to have been some transformations
to the data. Feature engineering will hopefully allow the neural network to expose some interesting connections in the data'''

  ID_code  target
0  test_0       0
1  test_1       0
2  test_2       0
3  test_3       0
4  test_4       0

In [ ]:
#Half of the train data appeared to be copies of other examples.
#Take out unique examples and create a binary column saying if it is unique.
from tqdm import tqdm
col_names = [f"var_{i}" for i in range(200)]
for col in tqdm(col_names):
  count = test[col].value_counts()
  #If count has only 1 then it is unique. Check for all.
  uniques = count.index[count == 1]
  test[col + "_u"] = test[col].isin(uniques)

test["has_unique"] = test[[col + "_u" for col in col_names]].any(axis=1)

In [ ]:
test["has_unique"].sum()

In [ ]:
real_test = test.loc[test["has_unique"], ["ID_code"] + col_names]
fake_test = test.loc[~test["has_unique"], ["ID_code"] + col_names]

#Original Author concatinated train and test set. This exposes the test set

train_and_test = pd.concat([train, real_test], axis=0)

In [ ]:
for col in tqdm(col_names):
  count = train_and_test[col].value_counts().to_dict()
  train_and_test[col + "_unique"] = train_and_test[col].apply(
      lambda x: 1 if count[x] == 1 else 0).values
      #apply each value to those and map to new column
    fake_test[col+"_unique"] = 0
  )

In [ ]:
real_test = train_and_test[train_and_test["ID_code"].str.contains("test")].copy()
real_test.drop(["target"], axis = 1, inplace = True)
engineered_train = train_and_test[train_and_test["ID_code"].str.contains("train")].copy()

In [ ]:
engineered_test = pd.concat([real_test, fake_test], axis = 0)